        body {
            margin: 0;
            padding:0;    
            background-color: #EEEEEE;
        }
        .maincontainer {
            margin: 0 auto;
            padding: 0;
            background-color: #FFFFFF;
        }
        .main-section {
            margin-bottom: 20px;
        }
        .section {
            padding: 5px 0;
        }
        .sidebar {
            padding: 0 10px;          
        }
        #cse-search-box {
                margin-bottom: 15px;
        }                   
        @media (min-width: 992px) {
             .sidebar {
                width: 320px;
                float: left;
            }
            .centerpage {
                float: left;
            }
            .maincontainer {
                position: relative;
            }

            #adsense2 {
                position: absolute;
                top: 60px;
                left: 764px;
            }      
            #adsense3 {
                position: absolute;
                top: 320px;
                left: 764px;
            }
            #cse-search-box {
                margin-top: 10px;
                text-align: right;
            }                              
        }
        /*過去との互換性のため*/
        @media (min-width: 768px) {
            h5 {
                font-size: 18px;
            } 
            h6 {
                font-size: 16px;
            }
        }
 
        @media (max-width: 767px) {
           .maincontainer {
                padding-top: 55px;
            }
           .mobile-display-none {
                display: none;
            }
        }
        @media (max-width: 991px) and (min-width: 768px) {
            .maincontainer {
                padding-top: 95px;
            }
        }

        @media (max-width: 991px) { 
            #adsense1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
            }      
            .pc-only {
                display: none;
            }         
        }



.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    margin-left: 10px;
}

.navbar-brand {
    padding: 7px 0;
}

.nav-title {
    padding-left: 5px;
}

.adsense {
    text-align: center;   
}

.adsense-under {
    text-align: center;
    margin-top: 10px;   
}

.red {
    color: #ff0000;
}

/**************** footer styles ****************/
 
#footer {
    margin-top: 15px;
    padding: 10px 30px 10px 100px;
    font-size: 13px;
    background-color:#007aFF;
    }
    
  #footer p {
    color:#FFFFFF;
    padding: 5px;
    text-align: center;
    }
    
  #footer p a {
    color: #c7fefe;
    }
    
  #footer p a:hover {
    color: #FFFFFF;
    text-decoration: none;
    }
  #footer a:visited{
   color: #c7fefe;
}
  #footer a:link{
   color: #c7fefe;
}
  #footer h6{
    color: #FFFFFF;
    background-color:#007aFF;
    font-size:14px;
}
#footer ul {
    padding-left: 10px;
    list-style-type: none;   
}

@media (max-width: 767px) {
    #footer {
        padding: 10px 30px;
    }
}

/**************** table styles ****************/
.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
  font-size: 13px;
}

.article td
{
  padding: 2px;
  border: solid 1px #AAAAAA;
  vertical-align: top;
    white-space: nowrap;
}

.article th
{
  border: solid 1px #AAAAAA;
  text-align:center;
  vertical-align:middle;
  padding: 5px;
  white-space: nowrap;
}

/**************** images styles ****************/    
  a img{
    border: none;
    }

  img.left,img.center,img.right {
    padding: 4px;
    border: 1px solid #a0a0a0;
    }

  img.left {
    float: left;
    margin: 0 12px 5px 0;
    }

  img.center {
    display: block;
    margin: 0 auto 5px auto;
    }

  img.right {
    float: right;
    margin: 0 0 5px 12px;
    }
  /**/
ul.namelist
{
    list-style:none;
    margin:0 5px 3px 5px;
    padding:0;
}

.namelist li
{
   float:left;
   margin:2px 2px 2px 11px;
   padding:0;
}
/*# sourceMappingURL=style03.css.map */